.content-container {
	min-height: 50%;
}

/* background view */
.carousel-item {
  height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-item .carousel-caption {
	bottom: 22%;
	z-index: 2;
	margin:auto;
	max-width: 500px;
	background: rgba(0, 0, 0, .5);
	padding: 10px;
	border-radius: 5px;
}

.carousel-caption h3 {
	border-bottom: 3px solid white;
	font-size: 2.5rem;
	width:fit-content;
	display: inline-flex;
	font-weight: bold;
}


.carousel-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 1;
}

a .carousel-caption {
	padding: 0;
	color:black;
	background: white; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, transparent , white, transparent); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, transparent, white, transparent); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, transparent, white, transparent); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, transparent, white, transparent); /* Standard syntax */
}



/* skills */
#skills li {
	padding: 8px 0;
}

/* all rows */
.row {
	margin-top:50px;
	margin-bottom: 50px;
	align-items: center;
}

.row-text {
	background: lightsteelblue;
}

.row-text p {
	margin-top: 15px;
}

.row-text .lead {
	font-weight: bold;
}

.row.separator {
	height: 5px;
	background: #333;
	margin: 0 200px;
}

/* sitemap */
.container.sitemap {

}

.sitemap .content {
	display: inline-flex;
}

.sitemap-col {
	padding: 0 30px;
	text-align: left;
}

.sitemap-col .nav-item .nav-link {
	padding: 3px;
}

/* content */
.container.content-60 {
	padding-top: 50px;
	padding-bottom: 50px;
	max-width: 60%;
}


/* footer */

.page-footer .row {
	margin-top:20px;
	margin-bottom: 20px;
	align-items: baseline;
}

.page-footer p {
	margin-bottom: .5rem;
}
.social {
 -webkit-transform: scale(0.8);
 /* Browser Variations: */
 -moz-transform: scale(0.8);
 -o-transform: scale(0.8);
 -webkit-transition-duration: 0.3s;
 -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}

.social-section a:hover {
	text-decoration: none;
}

/*
  Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-li:hover {
    color: #4099FF;
}
#social-gh:hover {
    color: #6e5494;
}
#social-em:hover {
    color: #f39c12;
}

