{% if site.footer-links.googleplus %}
<a href="https://www.plsu.google.com/{{ site.footer-links.googleplus }}">
    <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
</a>
{% endif %}
{% if site.footer-links.facebook %}
<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
    <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
</a>
{% endif %}
{% if site.footer-links.linkedin %}
<a href="https://linkedin.com/in/{{ site.footer-links.linkedin }}">
    <i id="social-li" class="fa fa-linkedin-square fa-3x social"></i>
</a>
{% endif %}
{% if site.footer-links.github %}
<a href="https://github.com/{{ site.footer-links.github }}">
    <i id="social-gh" class="fa fa-github-square fa-3x social"></i>
</a>
{% endif %}
{% if site.footer-links.flickr %}
<a href="https://flickr.com/photos/{{ site.footer-links.flickr }}">
    <i id="social-fl" class="fa fa-flickr fa-3x social"></i>
</a>
{% endif %}
{% if site.email %}
<a href="mailto:{{ site.email }}">
    <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
</a>
{% endif %}
