
<!-- Projects Header -->
<div class="row" id="Projects">
	<div class="col-lg-12 text-center">
		<h1>Projects</h1>
	</div>
</div>

{% include project.html description="Cytograph is a graph theory playground that enables users to quickly create mock networks and execute javascript algorithms on them.  Scripts and networks can be shared via an online database." link="http://thesettleproject.com/graph" img="images/cytograph.png" title="Cytograph" %}

{% include project.html odd="true" link="http://flika-org.github.io" img="images/flika.png" title="Flika" description="As a research assistant in the Parker-Smith Lab Molecular Biology Lab at UCI, I helped develop Flika, an expansion upon an automatic calcium activity analysis algorithm.  Written in Python and built on scientific libraries (numpy, scipy) and real-time plotting modules (pyqtgraph), Flika provides a wide variety of image processing tools to automate research.  I also implemented a plugin and macro support system for easily replayable automated algorithms." %}

{% include project.html title="Zotplanner" description="UCI course registration assistant created during my senior year. Scrapes DegreeWorks for major requirements, uses AntPlanner for searching and schedule planning, and WebReg for actually registration. Zotplanner allows students to filter by their degree requirements without all the tab switching.  UCI is now working to implement a similar system into their own website! (May break in the near future)" link="http://thesettleproject.com/zotplanner" img="images/zotplanner.png" %}

{% include project.html title="Redwall" description="Redwall is a Reddit wallpaper scraper developed in Python, and grew into a streamable image generator and rating system.  Set your wallpaper to iterate through the images on any subreddit, and download them with ease!" link="http://github.com/brettjsettle/redwall" img="images/redwall.jpg" odd="true" %}

{% include project.html title="My Github" description="Checkout my github repositories to see projects spanning all the way from my very first program to my ongoing projects." link="http://github.com/brettjsettle" img="images/github.png" %}
