
<div class="row">
	{% if include.odd %}
	<div class="col-lg-8 text-center row-text">
		<p>{{ include.description }}</p>
	</div>
	{% endif %}
	<div class="col-lg-4">
		<div id="mycarousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active" style="text-align:center">
					<a href="{{ include.link }}">
						<img src="{{ include.img }}" alt="" class="img-responsive" style="height: 200px; border: 3px solid black">
						<div class="carousel-caption">
							{{ include.title }}
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% if include.odd == null %}
	<div class="col-lg-8 text-center row-text">
		<p>{{ include.description }}</p>
	</div>
	{% endif %}
</div>

