
<!--Skills row -->
<div class="row">
	<div class="col-lg-4">
		<h1>Skills</h1>
	</div>
	<div class="col-lg-8">
		<ul id="skills">

			{% include skill.html title="Python" percent=90 %}
			{% include skill.html title="Java" percent=87 %}
			{% include skill.html title="Javascript (Node, React)" percent=85 %}
			{% include skill.html title="C/C++" percent=74 %}
			{% include skill.html title="Git, Continuous Integration" percent=81 %}
			{% include skill.html title="Databases (MySQL, SQLite" percent=77 %}
			{% include skill.html title="UNIX" percent=85 %}
			{% include skill.html title="Docker" percent=60 %}
			{% include skill.html title="Frontend/UI" percent=75 %}

		</ul>
	</div>
</div>
