#content {
  width: 100%;
  height: 100%;
  padding: 0px;
  background-image: url("back.png");
}

div {
  padding: 5px;
  overflow:auto;
}

.profile {
  display: flex;
}

#login .action {
  margin-top: 10px;
}

#degreeworks .action, #search, #clearSearch {
  width: 100%;
  top: 0;
  color: #003659;
  background-color: #999;
  font-weight: 700;
}

#usrid, #pwd, #ucinetid_auth, #call {
  float: right;
}

#degreeworks, #websoc {
  background-color: white;
}

#websoc-results {
  width:100%;
}

#websoc-search table {
  table-layout: fixed;
}

#websoc-search td {
  width: 50%;
}

#websoc-search select, #websoc-search input {
  width:100%;
}

#login {
  background: #f1f1e7;
  border: 1px solid #ddd;
  height: 102px;
  width: 264px;
  display: table;
}

#login ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-bottom: 5px;
}

.example {
  font-size: 0.8em;
  color: #666;
  margin-left: 80px;
  clear: both;
}

#login label {
  font-weight: 800;
  float: left;
  width: 75px;
  padding-top: 5px;
  text-align: right;
  padding-right: 3px;
}

.col {
  float: left;
  border: solid 2px;
}

.DivLogoutMsg, .WebRegErrorMsg {
  margin: 0;
}

.ruleTable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
  font-family: Arial, sans-serif;
  color: #024457;
  font-size: 20px;
  background: #f2f2f2;
}

.ruleTable tr {
  border: 1px solid #D9E4E6;
  text-align: left;
}

.ruleTable td {
  padding: 0px;
}

.ruleTable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.ruleTable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  width:50%;
  padding: 0px;
  color: black;
  font-size: 1.5em;
}
.ruleTable th:first-child {
  display: table-cell;
  border-top-left-radius: 10px;
}
.ruleTable th:last-child {
  display: table-cell;
  border-top-right-radius: 10px;
}
.ruleTable th:nth-child(2) span {
  display: none;
}
.ruleTable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .ruleTable th:nth-child(2) span {
    display: block;
  }
  .ruleTable th:nth-child(2):after {
    display: none;
  }
}
.ruleTable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.ruleTable td:first-child {
  display: table-cell;
  border-right: 1px solid #D9E4E6;
  
}
@media (min-width: 480px) {
  .ruleTable td {
    border: 1px solid #D9E4E6;
  }
}
.ruleTable th, .ruleTable td {
  text-align: left;
}
@media (min-width: 480px) {
  .ruleTable th, .ruleTable td {
    display: table-cell;
    padding: .2em;
  }
}


