---
layout: default
---
<head>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/blog.css" />
</head>

<div class="blog-container">
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <a href="{{ site.baseurl }}/blog/" class="site-avatar"><img src="{{ site.blog.avatar }}" /></a>
        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/blog/">The Albus Lepus</a></h1>
          <p class="site-description">{{ site.blog.description }}</p>
        </div>
      </header>
    </div>
  </div>
  <div id="main" role="main" class="container posts-container">
    {{ content }}
  </div>
  {% include analytics.html %}
</div>